*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1200px;
    margin: auto;
}
.header{
    width: 100%;
    background-image: url("../img/header_bg.jpg");
    background-size: cover;
    background-position: 0 -110px;
    background-repeat: no-repeat;
}
nav{
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid #000;
}
.logo{
    float: left;
}
.fa-shield-alt{
    color: rgb(0, 140, 255);
    margin-left: 30px;
    font-size: 25px;
    padding-top: 25px;
}
.menu li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    padding: 30px 0;
}
.menu li a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    color: rgb(206, 206, 206);
    text-transform: capitalize;
}
.header_title{
    text-align: center;
}
.header h1{
    width: 800px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    padding: 50px 0 200px;
    color: rgb(206, 206, 206);
}
.fa-header{
    padding-top: 100px;
    font-size: 60px;
    color: #fff;
}
.our_techs{
    background-color: rgb(233, 233, 233);
    text-align: center;
    border-bottom: 1px solid rgb(150, 150, 150);
}
.our_techs-cards .card{
    width: 300px;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    padding: 25px 0 50px;
}
.our_techs-cards .card p:first-of-type{
    font-size: 25px;
    padding: 20px;
}
.fa-layer-group, .fa-eye, .fa-heart{
    font-size: 50px;
}
.about_agency{
    padding-bottom: 100px;
}
.about_agency h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    width: 400px;
    margin: 50px auto 30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.about_agency p:first-of-type{
    float: right;
}
.about_agency p{
    width: 600px;
    font-size: 18px;
    padding: 0 50px;
}
.design{
    background-image: url("../img/bg/divider1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.design h2{
    padding: 150px 0 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.design p{
    font-size: 18px;
    color: #fff;
    padding-bottom: 100px;
}
.one_brand{
    width: 500px;
    margin: 0 auto;
}
.one_brand h3{
    padding-top: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.one_brand p:first-of-type{
    padding: 30px 0 20px;
}
.one_brand p:last-of-type{
    padding: 20px 0 30px
}
.mobile_first{
    width: 500px;
    margin: 0 auto;
}
.mobile_first h3{
    width: 370px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.mobile_first img{
    padding: 30px 0;
    width: 100%;
}
.interaction{
    background-image: url("../img/bg/divider2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -230px;
    text-align: center;
}
.interaction h2{
    width: 350px;
    margin: 0 auto;
    padding: 150px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.interaction p{
    font-size: 18px;
    color: #fff;
    padding: 10px 0 100px;
}
.team h3{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.team_cards{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.team_card{
    width: 250px;
    text-align: center;
}
.team_card p:first-of-type{
    font-weight: 700;
}
.team_card img{
    border-radius: 50%;
}
.fa-twitter, .fa-facebook-f, .fa-circle{
    color: deepskyblue;
    font-size: 20px;
}
.fas.fa-circle, .far.fa-circle{
    font-size: 10px;
}
.weAre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(228, 228, 228);
    padding: 30px 0;
}
.weAre_info h3{
    font-size: 24px;
    padding-bottom: 30px;
}
.weAre_info p{
    padding-bottom: 30px;
}
.weAre_info{
    text-align: center;
    width: 200px;
}
.weAre_info a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    background-color: forestgreen;
    color: #fff;
}
.problems{
    background-image: url("../img/bg/divider3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -230px;
    text-align: center;
}
.problems h2{
    width: 600px;
    margin: auto;
    padding: 150px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    border-bottom: 1px solid #fff;
}
.problems p{
    font-size: 18px;
    color: #fff;
    padding: 25px 0 50px;
}
.weCreate h3{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.portfolios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.portfolios img{
    width: 30%;
    padding-top: 30px;
}