.wrapper{
    width: 800px;
    margin: auto;
    height: 100vh;
    font-size: 14px;
    color: darkgray;
    background-color: rgb(36,36,36);
}
.content{
    width: 615px;
    margin-left: 130px;
}
h2{
    color: white;
    font-weight: normal;
}
.content > h2:first-child{
    padding-top: 30px;
}
.content > p + p{
    padding-bottom: 20px;
    border-bottom: 1px dashed darkgray;
}
.card{
    display: inline-block;
    width: 172px;
    margin-right: 30px;
}
.card > img{
    border: 2px solid white;
}
.card > h3{
    color: white;
    font-weight: normal;
}
.btn{
    display: block;
    width: 80px;
    height: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: rgb(0, 68, 255);
}