
/* .item{
    width: 300px;
    background-color: aqua;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.item img{
    width: 100%;
}
button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: darkblue;
    border: none;
    background-color: darkgoldenrod;
    border-radius: 10px;
}
.link{
    background-color: darkorange;
    font-size: 18px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: darkviolet;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.topLeftContent{
    margin-left: 30px;
    margin-bottom: 30px;
    float: left;
}
.topLeftContent p{
    width: 360px;
}
.topLeftContent p{
    font-size: 21px;
    padding-bottom: 20px;
    
}

.choise {
    font-size: 19px;
    padding-bottom: 20px;
}
.mainContent{
    padding: 125px 0 125px 0;
    text-align: center;
    background-color: rgb(233, 233, 233);
}
.chooseCard{
    width: 250px;
    display: inline-block;
}
.chooseCard p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.clear{
    clear: both;
}
.footer{
    background-color: dimgrey;
    text-align: center;
    padding: 25px 0 25px 0;
}
.footer p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}